.row {
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

/* BLOCCO LEZIONI */
#lezioni .row > .left, #lezioni .row > .right{
  width: 50%;
  float: left;
}

#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
}

/* BLOCCO STEPS */
#steps .row > .left,
#steps .row > .central,
#steps .row > .right{
  float: left;
  width: 33%;
}

#steps{
  text-align: center;
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why .row > .first,
#why .row > .second,
#why .row > .third {
  width: 100%;
  margin-top: 80px;
}

#why .row img {
  background-color:#428bca;
  border-radius:50%;
  padding:30px
}

/* COMMON */

.container.grey{
  background-color: #f9f9f9;
}

img{
  height: 200px;
}

.clear {
  clear:both;
}

/* visualizzazione su screen max-width 420px */
@media screen and (max-width: 420px) {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  h1 {
  font-size: 1.5em;
  margin-bottom: 20px;
  padding-top: 20px;
  font-variant: small-caps;
  }

  h3 {
  font-size: 1.2em;
  font-variant: small-caps;
  margin-bottom: 20px;
  margin-top: 20px;
  }
  .row > * {
    padding-bottom: 20px;
  }

  #lezioni {
    background: linear-gradient(0deg, rgba(70,213,173,1) 100%, rgba(34,193,195,1) 0%);
    color: grey;
  }
  #lezioni .row {
    width: 100%;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
  }
  #lezioni .row > .left,
  #lezioni .row > .right {
    width: 100%;
    float: none;
  }
  #lezioni .left {
    margin-bottom: 50px;
  }
  #lezioni .left::after {
    content:"Prenota";
    display: block;
    background-color: rgba(70,20,255,0.1);
    color: white;
    border: 1px solid #fff;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    cursor: pointer;
  }
  #lezioni .left img {
    width: 330px;
    height: 330px;
  }
  #lezioni .right {
    padding-bottom: 50px;
  }
  #lezioni .right::after {
    content:"Scegli";
    display: block;
    background-color: rgba(70,20,255,0.1);
    color: white;
    border: 1px solid #fff;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    cursor: pointer;
  }
  #lezioni .right img {
    width: 330px;
    height: 203px;
  }

  #steps {
    background-color: #D2691E;
    text-align: left;
  }
  #steps .row {
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px 0 10px;
    width: 100%;
  }
  #steps .row img {
    margin-top: 30px;
  }
  #steps .row > .left,
  #steps .row > .central,
  #steps .row > .right{
    float: none;
    width: 100%;
  }
  #steps .left::after {
    content:"Guarda";
    display: block;
    background-color: rgba(70,20,255,0.1);
    color: white;
    border: 1px solid #fff;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    cursor: pointer;
    text-align: center;

  }
  #steps .row .left img{
    border-radius: 50%;
    background-color: #c5c5c5;
  }
  #steps .central::after {
    content:"Scrivi";
    display: block;
    background-color: rgba(70,20,255,0.1);
    color: white;
    border: 1px solid #fff;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    cursor: pointer;
    text-align: center;

  }
  #steps .right::after {
    content:"Acquista";
    display: block;
    background-color: rgba(70,20,255,0.1);
    color: white;
    border: 1px solid #fff;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    cursor: pointer;
    text-align: center;
  }

  #why .row {
    width: 90%;
    margin: 0px auto;
  }
  #why .row > *:not(h1) {
    background-color: lightgrey;
    border-radius: 20px;
  }
  #why img {
    margin-top: 20px;
  }
  #why hr {
    display: none;
  }
  #why .first,
  #why .second,
  #why .third {
    padding-left: 10px;
    padding-right: 10px;
  }
}
